* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  display: none 
}
body {
  font-family: "-apple-system, Arial, sans-serif";
  overscroll-behavior: none;
  font-size: 16px;
}

div {
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  flex: 0 1 auto;
}